<% if @searches.present? %>
  <% provide(:title, '検索結果') %>
  <h1>検索結果</h1>
<% elsif  @users.present? %>
  <% provide(:title, 'ユーザー一覧') %>
  <h1>ユーザー一覧</h1>
<% end %>

<div class="col-md-10 col-md-offset-1">
    
<div class="pull-right">
<%= form_tag(users_path, method: "get") do %>
<%= label_tag :name, "ユーザー名検索" %>
  <div class="display-block">
    <%= text_field_tag :name, params[:name] %><%= submit_tag "検索", :class=>"btn btn-info" %>
    <% end %> 
  </div>
</div>
    
<% unless @searches.present? %>    
  <%= will_paginate %>
<% end %>

  <table class="table table-condenced table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>


<% if  @searches.present? %>
    <%  @searches.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %>
            <% if current_user.admin %>
               | <%= link_to "基本情報設定", edit_basic_info_user_path(user) %>
            <% end %>
            <% if current_user.admin && !current_user?(user) %>
               | <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" } %>
            <% end %>
        </td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
<% elsif @users.present? %>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %>
            <% if current_user.admin %>
               | <%= link_to "基本情報設定", edit_basic_info_user_path(user) %>
            <% end %>
            <% if current_user.admin && !current_user?(user) %>
               | <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" } %>
            <% end %>
        </td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
<% end %>








  </table>
<% unless @searches.present? %>   
  <%= will_paginate %>
<% end %>
</div>