<% provide(:title, @user.name) %>
<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '申請する') %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <th>
        <% if current_user == @user %>
          <%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-primary" %>
        <% end %>
        <span>　</span>
        <%= l(@first_day, format: :middle) %>
        時間管理表
        <span>　</span>
        <% if current_user == @user %>
          <%= link_to "→", user_path(date: @first_day.next_month), class: "btn btn-primary" %>
        <% end %>
      </th>
      <th>
        <%= User.human_attribute_name(:designated_work_start_time) %>　
        <%= format_basic_info(@user.designated_work_start_time) if @user.designated_work_start_time.present? %>
        <br>
        基本勤務終了時間　
        <% if @user.designated_work_end_time.present? %>
          <%= format_basic_info(@user.designated_work_end_time) %>
        <% end %>
      </th>
      <th colspan='3'>基本時間
        <% if @user.basic_work_time.present? %>
          <%= format_basic_info(@user.basic_work_time) %>
        <% end %> 
      </th>
      <th>初日　<%=l(@first_day, format: :short) %></th>
    </tr>

    <tr>
      <th><%= User.human_attribute_name("affiliation")%>　<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></th>
      <th><%= User.human_attribute_name("name")%>　<%= @user.name %></th>
      <th><%= User.human_attribute_name("employee_number")%></th>
      <th><%= @user.employee_number.present? ? @user.employee_number : "　　" %></th>
      <th>出勤日数　<%= @worked_sum %>日</th>
      <th>締め　<%= l(@last_day, format: :short) %></th>
    </tr>
  </table>
</div>
<% if current_user == @user %>
  <% if current_user.superior %>
    <% if @applies.count > 0 %>
      <P class="danger-color">
        【所属長承認申請のお知らせ】<span class="visible-inline danger-color box-danger"><%= link_to "#{@applies.count}件の申請があります", applies_edit_month_user_path(@user, @applies), remote: true, class: "btn-notice danger-color" %></span>
      </P>
    <% else %>
      <P>【所属長承認申請のお知らせ】</P>
    <% end %>
    <% if @change_attendances.count > 0 %>
      <p class="danger-color">
        【勤怠変更申請のお知らせ】<span class="visible-inline danger-color box-danger"><%= link_to "#{@change_attendances.count}件の申請があります", attendances_change_one_month_user_path(@user), remote: true, class: "btn-notice danger-color" %></span>
      </p>
    <% else %> 
      <p>【勤怠変更申請のお知らせ】</p>
    <% end %>
    
    <% if @overtime_attendances.count > 0 %>
      <p class="danger-color">
        【残業申請のお知らせ】<span class="visible-inline danger-color box-danger"><%= link_to "#{@overtime_attendances.count}件の申請があります", attendances_edit_judgment_overtime_user_path(@user, view_date: @first_day), remote: true, class: "btn-notice danger-color" %></span>
      </p>
    <% else %> 
      <p>【残業申請のお知らせ】</p>
    <% end %>
    
  <% end %>
  <%= link_to "勤怠の編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
  <%= link_to "CSV出力", export_csv_attendance_user_path(id: @user.id), class: "btn btn-primary" %><br>
  <%= link_to "勤怠修正ログ（承認済）", attendances_log_index_user_path, class: "btn btn-primary mb-20" %>
  <div>
<% end %>
  <table class="table table-bordered table-striped table-hover" id="table-attendances">
    <thead>
      <tr>
        <th rowspan="3">残業申請</th>
        <th rowspan="3">日付</th>
        <th rowspan="3">曜日</th>
        <th colspan="8">【実績】</th>
        <th colspan="5">【所定外勤務】</th>
      </tr>
      <tr>
        <th colspan="3">出社</th>
        <th colspan="3">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2">時間外時間</th>
        <th rowspan="2">業務処理内容</th>
        <th rowspan="2">指示者確認㊞</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead> 

    <tbody>
      <% @attendances.each do |day| %>
        <%
          css_class = 
          case $days_of_the_week[day.worked_on.wday]
          when '土'
            'text-primary'
          when '日'
            'text-danger'
          end
        %>
        <tr>
          <th>
            <% if current_user == @user %>
              <%= link_to "残業申請", attendances_edit_overtime_user_path(@user, overtime_attendance: day), remote: true, class: "btn btn-primary" %>
            <% end %>
          </th>
          <th><%= l(day.worked_on, format: :short) %></th>
          <th class="<%= css_class %>"><%= $days_of_the_week[day.worked_on.wday] %></th>
          <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
          <td><%= format_minute_per_fifteen(day.started_at) if day.started_at.present? %></td>
          <!--<td><%= day.started_at.min if day.started_at.present? %></td>-->
          <td>
            <% if current_user == @user %>
              <% if btn_text = attendance_state(day) %>
                <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
              <% end %>
            <% end %>
          </td>
          <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td> 
          <td><%= format_minute_per_fifteen(day.finished_at) if day.finished_at.present? %></td>
          <td></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times =working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td><%= day.overtime_finished_at.hour if day.overtime_finished_at.present? %></td>
          <td><%= day.overtime_finished_at.min if day.overtime_finished_at.present? %></td>
          <!--計算用に日付変更する-->
          <% calc_designated_work_end_time = @user.designated_work_end_time.change(month: day.worked_on.month, day: day.worked_on.day) %>
          <!--残業時間ー終了予定時間で計算-->
          <td><%= sprintf("%.2f", (day.overtime_finished_at - calc_designated_work_end_time) / 60 / 60) if day.overtime_finished_at.present? && @user.designated_work_end_time.present? %></td>
          <td><%= day.overtime_note %></td>
          <td>
            <%= User.find(day.change_authorizer_id).name if day.change_authorizer_id.present? %><span>　</span><%= $mark_change[day.mark] %>
            <% $mark_change2 = %w{　 残業申請中 残業申請承認済 残業申請否認} %>
            <%= User.find(day.overtime_authorizer_id).name if day.overtime_authorizer_id.present? %><span>　</span><%= $mark_change2[day.overtime_mark] %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr class="active">
        <th></th>
        <th colspan="2"><%=  format("%.2f",format_basic_info(@user.work_time).to_f * @worked_sum) %></th>
        <th colspan="6"></th>
        <th><%= format("%.2f", @total_working_times.to_f) %></th>
        <td colspan="5"></td>
        <th>
          所属長承認 　<% if @apply.authorizer.present? %><%= User.find(@apply.authorizer).name %><% end %><%= $mark_status[@apply.mark] %>

          <% if current_user == @user %>
            <%= form_with(model: @apply, url: user_apply_path(@user), method: :patch, local: true) do |f| %>
              <%= f.collection_select(:authorizer, @authorizers, :id, :name , prompt: "") %>
              <%= f.hidden_field :mark, :value => "1" %>
              <%= f.hidden_field :month, :value => @first_day %>
              <%= f.hidden_field :user_id, :value => @user.id %>
              <%= f.hidden_field :id, :value => @apply.id %>

              <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
            <% end %>
          <% end %>
        </th>
      </tr>
    </tfoot>
  </table>
</div>

<!--1ヶ月申請の承認モーダルウインドウ表示-->
<div id="applies-edit-month" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!--勤怠変更の承認モーダルウインドウ表示-->
<div id="attendances-change-one-month" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!--残業申請モーダルウインドウ表示（申請者用）-->
<div id="edit-overtime" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!--残業申請モーダルウインドウ表示（上長用）-->
<div id="edit_judgment_overtime" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>