<% provide(:class_text, 'basic-info') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <!--ここからコピぺの改造-->
          <%= form_with(model: @user, url: attendances_update_overtime_user_path(@user), local: true, method: :patch) do |f| %>
              <h2>【残業申請】</h2>
                <table class="table table-bordered table-condensed table-hover" id="table-attendances">
                  <thead>
                    <tr>
                      <th>日付</th>
                      <th>曜日</th>
                      <th>終了予定時間</th>
                      <th>翌日</th>
                      <th>業務処理内容</th>
                      <th>指示者確認㊞</th>
                    </tr>
                  </thead>
                <tbody>
                      <% @overtime_attendances.each do |day| %>
                        <%
                          css_class = 
                          case $days_of_the_week[day.worked_on.wday]
                          when '土'
                            'text-primary'
                          when '日'
                            'text-danger'
                          end
                        %>
                        <%= f.fields_for "attendances[]", day do |af| %>
                        <tr>
                          <td><%= l(day.worked_on, format: :short) %></td>
                          <td class="<%= css_class %>"><%= $days_of_the_week[day.worked_on.wday] %></td>
                          <td><%= af.time_field :overtime_applying_finished_at, class: "form-control" %></td>
                          <td><%= f.check_box :tomorrow %></td>
                          <td><%= af.text_field :overtime_applying_note %></td>
                          <td><%= af.collection_select(:overtime_authorizer_id, @overtime_authorizers, :id, :name , prompt: "") %></td>
                          
                              <%= af.hidden_field :user_id, :value => day.user_id %>
                              <%= af.hidden_field :overtime_mark, :value => 1 %>
                        </tr>
                    <% end %>
                      <% end %>
                </tbody>
              </table>
              <%= f.submit "変更を送信する", class: "btn btn-block btn-primary" %>
          <% end %>
         <!--ここまでコピペの改造-->
        </div>
      </div>
    </div>
  </div>
</div>