<% provide(:title, @user.name) %>

<!--<% def changed %>-->
<!--  <% %>-->
<!--<% end %>-->

<%= form_with(model: @user, url: attendances_update_one_month_user_path(date: @first_day), local: true, method: :patch) do |f| %>
  <div>
確認用@change_authorizers (Userモデルのオブジェクトが入っているよ。)
<% @change_authorizers.each do |change_authorizer| %>
  <%= change_authorizer.id %>
<% end %>
    
    <table class="table table-bordered table-condensed table-hover" id="table-attendances">
      <thead>
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>出社</th>
          <th>退社</th>
          <th>翌日</th>
          <th>在社時間</th>
          <th>備考</th>
          <th>指示者確認印</th>
        </tr>
      </thead>
      <tbody>
        <% @attendances.each do |day| %>
          <%
            css_class = 
            case $days_of_the_week[day.worked_on.wday]
            when '土'
              'text-primary'
            when '日'
              'text-danger'
            end
          %>
          <%= f.fields_for "attendances[]", day do |attendance| %>
          <tr>
            <th><strong><%= l(day.worked_on, format: :short) %></strong></th>
            <th class="<%= css_class %>"><strong><%= $days_of_the_week[day.worked_on.wday] %></strong></th>
            <% if Date.current < day.worked_on %>
              <td><%= attendance.time_field :started_at, readonly: true, class: "form-control" %></td>
              <td><%= attendance.time_field :finished_at, readonly: true, class: "form-control" %></td>
            <% else %>
              <td>
                <%= attendance.time_field :applying_started_at, class: "form-control" %>
              </td>
              <td><%= attendance.time_field :applying_finished_at, class: "form-control" %></td>
            <% end %>
            <td><%= attendance.check_box :tomorrow %></td>
            <td>
              <% if day.started_at.present? && day.finished_at.present? %>
                <%= working_times(day.started_at, day.finished_at) %>
              <% end %>
            </td>

            <td><%= attendance.text_field :applying_note, class: "form-control" %></td>
            <td>
              <%= attendance.collection_select(:change_authorizer_id, @change_authorizers, :id, :name , prompt: "") %>
            </td>
          </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="center">
    <%= link_to "キャンセル", user_path(date: @first_day), class: "btn btn-lg btn-default" %> 
    <%= f.submit "編集を保存する", class: "btn btn-lg btn-default" %>

  </div>
<% end %>