<% provide(:title, "勤怠ログ") %>
<% provide(:class_text, 'user--edit') %>

<div>
  <h1>勤怠ログ</h1>

  <!--ここから先が検索機能の実装部-->
  <%= form_with url: attendances_log_index_user_path, method: :get, local: true do |f| %>
    <%= f.select :selected_year, [['2019年', 2019],['2020年', 2020]], { include_blank: true}, { class: "form-control width-100" } %>
    <%= f.select :selected_month, [['1月', 1], ['2月', 2], ['3月', 3], ['4月', 4], ['5月', 5], ['6月', 6], ['7月', 7], ['8月', 8], ['9月', 9], ['10月', 10], ['11月', 11],['12月', 12]], { include_blank: true}, { class: "form-control width-100" } %>
    <%= f.submit '検索', { class: "form-control btn-primary mb-20 width-100" } %>
  <% end %>
  <!--ここまで-->
  
  
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>変更前出社時間</th>
        <th>変更前退社時間</th>
        <th>変更後出社</th>
        <th>変更後退社</th>
        <th>指示者</th>
        <th>承認日</th>
      </tr>
    </thead>
    <tbody>
      <% if @attendances.count > 0 %>
        <% @attendances.each do |attendance| %>
        <tr>
          <td><%= l(attendance.worked_on, format: :short) %></td>
          <td><%= l(attendance.previous_started_at, format: :time) if attendance.previous_started_at.present? %></td>
          <td><%= l(attendance.previous_finished_at, format: :time) if attendance.previous_finished_at.present? %></td>
          <td><%= l(attendance.started_at, format: :time) if attendance.started_at.present? %></td>
          <td><%= l(attendance.finished_at, format: :time) if attendance.finished_at.present? %></td>
          <td><%= User.find(attendance.change_authorizer_id).name %></td>
          <td><%= attendance.approval_date %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>

  </table>
</div>
