<% provide(:title, "勤怠ログ") %>
<% provide(:class_text, 'user--edit') %>

<div>
  <h1>勤怠ログ</h1>
  <table class="table table-bordered table-condensed user-table">
    <thead>
      <tr>
        <th>日付</th>
        <th>変更前出社時間</th>
        <th>変更前退社時間</th>
        <th>変更後出社</th>
        <th>変更後退社</th>
        <th>指示者</th>
        <th>承認日</th>
      </tr>
    </thead>
    <tbody>
      <% if @logs.count > 0 %>
        <% @logs.each do |log| %>
        <tr>
          <td><%= l(log.worked_on, format: :short) %></td>
          <td><%= log.previous_started_at %></td>
          <td><%= log.previous_finished_at %></td>
          <td><%= log.started_at %></td>
          <td><%= log.finished_at %></td>
          <td><%= log.change_authorizer_id %>確認用アテンダンスID:<%= log.id %></td>
          <td><%= log.approval_date %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>

  </table>
</div>
